In [ ]:
t = 1,

In [ ]:
import math
def hypotenus (a, b):
    c= (a**2 + b**2)
    return (math.sqrt(c))

In [ ]:
d = hypotenus (3,4)
print(d)

In [ ]:
tup = (1, 5, 4, 1, 8, 1, 5, 2, 2, 2, 1, 8)
print(len(tup))

In [ ]:
mini = int(input('Enter the minimum number:'))
maxi = int(input('Enter the maximum number:'))

for i in range(mini, maxi+1):
    prime = True
    for j in range(2,i):
        if (i % j) == 0 :
          prime = False
          break
    if prime == True:
        print(i ,'is a prime number')
    else:
        print (i,'is not prime number because ',j ,'is afactor of ',i)

In [ ]:
tup = ([1, 2], [3, 4], [5, 6])
tup[1][1]

In [ ]:
x, y = (3, 4, )

y =type(y)
print(y)

In [ ]:
names = ('Harry', 'Ahmed', 'Blair', 'Ivan')
len(names[0])

In [ ]:

A = 'True'
B = 'False'
C = A > B or A < B
print (C)
D = (A > B) and (A < B)
print (D)
D_not = not(A > B or A < B)
print(D)
#Xnor = ((A > B) or (A < B))^(not(A > B or A < B))
print(f'Xnor {((A > B) or (A < B))^(not(A > B or A < B))}')

In [ ]:
tup = (1, 5, 4, 1, 8, 1, 5, 2, 2, 2, 1, 8)
print(list(tup))

In [ ]:
set_a = {'a', 'b', 'c', 'd'}
set_b = {'b', 'c', 'd', 'e'}
set_c = { 'r','tx`'}
set_d = { 't'}

set_c.union(set_c.intersection(set_d))

In [ ]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {2, 4}
set_3 = {2}
set_1.issuperset(set_2)

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": 'green'})
print(thisdict)

In [ ]:
s = 'hello'
if len(s) > 0 :
    print(len(s))

In [ ]:
n = 300
m = n
print(id(n))
print(id(m))

In [ ]:
long_word = 'Pneumonoultramicroscopicsilicovolcanoconiosis'
print(len(long_word))
first_c = long_word[0]
last_c = long_word[44]
print(first_c)
print(last_c)
last_c = first_c
print(last_c)

In [ ]:
a = 4.2
b= 25
#sum = int(a) + int(b)
mul = a * b
div = a / b
sub = a- b


print(sum)
print(sub)
print(mul)
print(div)

In [ ]:
a = 22
c = a % 3 
t = 'the number is multiply of {}'

if c == 0:
    print(t.format(a))
else:
    e = 'the number is not a multiply of {}'
    print(e.format(a))

In [ ]:
cost = 0.87 + (3 * 0.29) + (1.89/1.5) + ((20 *129)/30) + ((1.09 * 80)/500)
total = 5 * cost
print(total)
vat = total * (20/100)
Amt = total +vat
print(round(Amt,2))

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

In [ ]:
a = 'time is p'
print('time'in a)

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

In [ ]:
str_test = 'This Assessment Is Taking Forever'
print(str_test.endswith('r'))
print(str_test.startswith('t'))

In [ ]:
List = [3 , 4 , 5 , 12, 14, 11, 10 , 16, 'a', 'c', 'd']
List[1:8:2]

In [ ]:
l2 = [9,10, 5, 4, 3 , 2 ,25]
l1 = [5,2, 51, 18, 9,10 ,12]
len(l1)

In [ ]:
l3 = [1,1,1]
l3.extend(l1)
print(l3)

In [ ]:

l2.append(l1)
print(l2)

In [ ]:
l3.sort()
print(l3.sort())
print(sorted(l3))

In [ ]:
s1 = set([1,2, 5,10,11])
s2 = set([4,5,1,6])
print (s1)

In [ ]:
union = set(s1).union(s2)
print(union)
intersection = set(s1).intersection(s2)
print(intersection)
difference = set(s1).difference(s2)
print(difference)
update = set(s1).update(s2)
print(update)

s1.update(s2)
print(s1)

In [ ]:
list_username = ["Raji", "Vijay", 'seyon', 'nandika_01']
list_usernames = 5 +4j
print("the type is:", type(list_username))
print(len(list_username))
print(len(list_username[3]))
r_1 = [10, 13.5, 'ramya', '3i+2j',True]
r_2 = [0*0*0*0*0*0*0*0*0*0]
r_3 = []
r_3.append(r_1)
r_3.append(r_2)
print(r_3)
r_4 = [0] * 10
print(r_4)
print(r_1)

In [ ]:
r_1 = [10, 13.5, 'ramya', '3i+2j',True]
r_2 = [0*0*0*0*0*0*0*0*0*0]
r_5 =[]
#r_5 = [r_1[3] + r_2[0]] #Integers cannot be concatenated
r_5.append(r_1[3])
r_5.append(r_2[0])

print(r_5)

In [ ]:
name = ['ramya', 'raji']
set_1 = (name[0])
set_2 = (name[1])
#set_4 = (set_1[0],set_1[1], set_1[2],set_1[3],set_1[4])
#set_5 = (set_2[0],set_2[1], set_2[2],set_2[3])
letters= set.intersection(set(set_1), set(set_2))
print ("letters: "+str(letters))

In [ ]:
lp = ["G06 WTR", "WL11 WFL", "QW68 PQR"]
lp1 = lp[0]
x = lp1[5:7]
x=1976
lp2 = lp[1]
y= lp2[6:8]
lp3 = lp[2]
z= lp3[6:8]
print ('type is',type(x))
print ('the type is',type(y))
print ('the type is',type(z))
print(x)
print(y)
print(z)
print(lp1)

In [ ]:
phrase1 = 'Ramya Raji'
phrase = phrase1.split(' ')
p1 = phrase[0]
p2 = phrase[1]
if p1[0] == p2[0] :
    print ('first of the two string has same letter')
else:
    print ('not same')

In [ ]:
my_string1 = 'This is a short phrase'
my_string2 = 'This is actually a significantly longer phrase than the previous one'
str1 = my_string1.split(' ')
str2 = my_string2.split(' ')
str1.reverse()
str2.reverse()
print(str1)
print(str2)
great = ['pop','popped ','rock','you','treat']
great.pop(-1)
print(great)

In [ ]:
fruits = ['banana', 'pineapple', 'apple', 'orange', 'strawberry']
#fruits.sort(reverse=True)
a = sorted(fruits,reverse=True)
print(a)

In [ ]:
y = 0 
for x in range (1,101,2):
    print("{0}".format(x))
    y = y + x
    print("The Sum of Odd Numbers from 1 to {0} = {1}".format(x,y))

In [ ]:
maximum = int(input(" Please Enter the Maximum Value : "))
Oddtotal = 0

for number in range(1, maximum+1, 2):
    print("{0}".format(number))
    Oddtotal = ((Oddtotal + number))
#print(Oddtotal)
print("The Sum of Odd Numbers from 1 to {0} = {1}".format(number, Oddtotal))

In [ ]:
n=int(input("Enter n value:"))
sum=0
for i in range(2,n+1,2):
    sum+=i
print(sum)

In [ ]:
#order_list = [("tom", 0.87, 4),("sug", 1.09, 3),("ws", 0.29, 4), ("juc", 1.89, 1), ("fo", 1.29, 2)]

names = {"tom":"Tomatoes", "sug":"Sugar", "ws":"Washing Sponges", "fo":"Foil"}
#current_total = order_list[0][1] + order_list[1][1] + order_list[2][1] + order_list[3][1] + order_list[4][1]
#print('current_total :',current_total)
names.items()
code_list = []
name_list = []
for k,v in names.items():
    code_list.append(k)
    name_list.append(v)
print(code_list)
print(name_list)

In [ ]:
names = {"tom":"Tomatoes", "sug":"Sugar", "ws":"Washing Sponges", "fo":"Foil"}
for key, value in names.items():
    print("Item Code: {}\nItem Name: £{}\n".format(key,value))

plaindrome

In [ ]:
def fun_dummy(*args, **kwargs): # args = arguments, kwargs = key word arguments
    print(args) # args is now a tuple
    print(kwargs) # kwargs now is a dictionary

fun_dummy(1, 2, 3, 5, 6, 2, 1, a=4, b=5, c=6)

In [ ]:
order_list = [("tom", 0.87, 4),

          ("sug", 1.09, 3), 
          
          ("ws", 0.29, 4), 
          
          ("juc", 1.89, 1), 
          
          ("fo", 1.29, 2)]

In [ ]:
dict = {'Name': 'Zara', 'skills': ['Cooking','painting','reading'], 'another' :{'Name': ['Zara'], 'skills': ['Cooking','painting','reading']}}

dict.keys()
x= dict ['another']
x.keys()
print(x)

?
??
???
????
?????
????
???
??
?

In [6]:
#%%
mini = int(input('Enter the minimum number:'))
maxi = int(input('Enter the maximum number:'))

for i in range(mini, maxi+1):
    prime = True
    for j in range(2,i-1):
        (i % j) == 0
        prime = False
    if prime == True:
        print(i)

In [13]:
spam = [1, 2, 3, 4, 5, 6, 'meow', 'woof']
spam.reverse()
spam

['woof', 'meow', 6, 5, 4, 3, 2, 1]